zad5/Ex5/Calculator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/Calculator/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Calculator"
	targetNamespace="http://www.example.org/Calculator/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/Calculator/">
			<xsd:element name="AddOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="a" type="xsd:int" />
						<xsd:element name="b" type="xsd:int"></xsd:element>
						<xsd:element name="c" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DivideOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="dividend" type="xsd:int"></xsd:element>
						<xsd:element name="divisor" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DivideOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="xsd:double"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="AddOperationRequest">
		<wsdl:part element="tns:AddOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="AddOperationResponse">
		<wsdl:part element="tns:AddOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DivideOperationRequest">
		<wsdl:part name="parameters" element="tns:DivideOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DivideOperationResponse">
		<wsdl:part name="parameters" element="tns:DivideOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Calculator">
		<wsdl:operation name="AddOperation">
			<wsdl:input message="tns:AddOperationRequest" />
			<wsdl:output message="tns:AddOperationResponse" />
		</wsdl:operation>
		<wsdl:operation name="DivideOperation">
			<wsdl:input message="tns:DivideOperationRequest"></wsdl:input>
			<wsdl:output message="tns:DivideOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CalculatorSOAP" type="tns:Calculator">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="AddOperation">

			<soap:operation soapAction="http://www.example.org/Calculator/AddOperation" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DivideOperation">
			<soap:operation soapAction="http://www.example.org/Calculator/DivideOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Calculator">
		<wsdl:port binding="tns:CalculatorSOAP" name="CalculatorSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
