zad5/Ex6/Calculator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/Calculator/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Calculator"
	targetNamespace="http://www.example.org/Calculator/">
	<wsdl:message name="AddOperationRequest">
		<wsdl:part name="a" type="xsd:int" />
		<wsdl:part name="b" type="xsd:int"></wsdl:part>
		<wsdl:part name="c" type="xsd:int"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddOperationResponse">
		<wsdl:part name="result" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="DivideOperationRequest">
		<wsdl:part name="dividend" type="xsd:int"></wsdl:part>
		<wsdl:part name="divisor" type="xsd:int"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DivideOperationResponse">
		<wsdl:part name="result" type="xsd:double"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Calculator">
		<wsdl:operation name="AddOperation">
			<wsdl:input message="tns:AddOperationRequest" />
			<wsdl:output message="tns:AddOperationResponse" />
		</wsdl:operation>
		<wsdl:operation name="DivideOperation">
			<wsdl:input message="tns:DivideOperationRequest"></wsdl:input>
			<wsdl:output message="tns:DivideOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CalculatorSOAP" type="tns:Calculator">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="AddOperation">
			<soap:operation soapAction="http://www.example.org/Calculator/AddOperation" />
			<wsdl:input>
				<soap:body namespace="http://www.example.org/Calculator/"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.example.org/Calculator/"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DivideOperation">
			<soap:operation soapAction="http://www.example.org/Calculator/DivideOperation" />
			<wsdl:input>
				<soap:body use="literal" namespace="http://www.example.org/Calculator/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://www.example.org/Calculator/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Calculator">
		<wsdl:port binding="tns:CalculatorSOAP" name="CalculatorSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
